aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
clickhouse-connect==0.8.18
frozenlist==1.7.0
geoip2==5.1.0
idna==3.10
iniconfig==2.1.0
lz4==4.4.4
maxminddb==2.8.2
multidict==6.6.4
packaging==25.0
pluggy==1.6.0
propcache==0.3.2
Pygments==2.19.2
pytest==8.4.2
pytest-asyncio==1.2.0
pytz==2025.2
requests==2.32.5
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.20.1
zstandard==0.25.0
